.education {
    height: 100vh;
    display: flex;
    place-content: space-evenly;
    align-items: end;
    border-radius: 30px;
    box-shadow: 0px 0px 40px aliceblue;
}
.pipe1 {
    height: 200px;
    position: relative;
    z-index: 2;
}
.pipe2 {
    height: 250px;
    z-index: 2;
}
.pipe3 {
    height: 300px;
    z-index: 2;
}
.set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: mario linear forwards;
    animation-timeline: view();
    animation-range: entry;
}
.boy {
    height: 150px; 
    width: 150px;
    animation: boyOut linear forwards;
    animation-timeline: view();
    animation-range: 100px 300px;
    opacity: 0;
    position: relative;
    z-index: 1;
    bottom: -200px;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    color: aliceblue;
    opacity: 0;
    animation: edu-text linear forwards;
    animation-timeline: view();
    animation-range: 400px 540px;
}
.details div:nth-child(1) {
    font-size: 20px;
}
.details div:nth-child(2) {
    font-weight: bold;
}
.details div:nth-child(3) {
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 25px;
}
.edu-fadeoff {
    position: relative;
    animation: edu-fadeoff linear forwards;
    animation-timeline: view();
    animation-range: exit;
    opacity: 1;
}
@keyframes mario {
    from {transform: translateY(-100%); opacity: 0; transform: rotate(-90deg);}
    to {transform: translateY(0); opacity: 1; transform: rotate(0);}
}
@keyframes boyOut {
    from {bottom: -200px ; opacity: 0;}
    to {bottom: 0 ; opacity: 1;}
}
@keyframes edu-text {
    from {bottom: -20px ; opacity: 0;}
    to {bottom: 0 ; opacity: 1;}
}
@keyframes edu-fadeoff {
    from {top: 0 ; opacity: 1;}
    to {top: -200px ; opacity: 0;}
}

@media (max-width: 500px) {
    .education {
        flex-direction: column;
        place-content: none;
        align-content: center;
    }
    .set {
        scale: 0.3;
        margin-top: 0;
    }
    .boy {
        bottom: 0;
    }
    .pipe1, .pipe2, .pipe3 {
        height: 100px;
    }
}