body {
    font-family: 'Exo 2', sans-serif;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    height: 1000vh;
    color: grey;
}
.page1 {
    display: flex;
    justify-content:space-evenly;
    height: 100vh;
}
.headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headers img {
    height: 700px;
    width: 700px;
    object-fit: cover;
    border-radius: 70%;
}
.name {
    padding-top: 10px;
    font-size : 100px;
    text-align: center;
}
.name:hover {
    color:azure;
    animation: changeColor 0.2s linear;
}
@keyframes changeColor {
    0% { color: black}
    50% { color: azure}
    100% { color: black}
}
.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    text-align: center;
}
.options {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.options a img {
    width: 80px;
}
.about {
    animation: slide 3s linear forwards;
    transform: translateX(-100%);
    animation-timeline: view();
}
.about h1 {
    margin-bottom: 0;
}
.about h1 span, .about h2 span {
    color: hsl(0 0% 100% / 0.2);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, rgb(233, 74, 222), rgb(0, 255, 183));
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
}
.about h1 span {
    animation-range-start: cover 53vh;
    animation-range-end: cover 58vh;
}
.about h2 span {
    animation-range-start: cover 55vh;
    animation-range-end: cover 65vh;
}
.about {
    animation-range-start: cover 60.5vh;
    animation-range-end: cover 65vh;
}
@keyframes scroll-reveal {
    to { background-size: 100% 100%; }
}
@keyframes slide {
    to { transform: translateX(0); }
}
.about h2 {
    font-size: 50px;
}
@media (max-width: 500px) {
    .headers img {
        height: 400px;
        width: 400px;
        object-fit: cover;
        border-radius: 50%;
    }
    .name {
        padding-top : 20px;
        font-size : 50px;
        color:rgb(255, 255, 255)
    }
    .about h1 span, .about h2 {
        font-size: 30px;
    }
}