body {
    font-family: 'Exo 2', sans-serif;
    color: rgb(179, 166, 166);
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    height: 1000vh;
}
.headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headers img {
    height: 700px;
    width: 700px;
    object-fit: cover;
    border-radius: 50%;
}
.name {
    font-size : 100px;
    text-align: center;
}
.name:hover {
    color:azure;
    animation: changeColor 0.2s linear;
}
@keyframes changeColor {
    0% { color: black}
    50% { color: azure}
    100% { color: black}
}
.about {
    text-align: center;
}
.options {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.options a img {
    width: 80px;
}