body {
    font-family: 'Exo 2', sans-serif;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    height: 1000vh;
    color: grey;
}
.headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headers img {
    height: 700px;
    width: 700px;
    object-fit: cover;
    border-radius: 50%;
}
.name {
    font-size : 100px;
    text-align: center;
}
.name:hover {
    color:azure;
    animation: changeColor 0.2s linear;
}
@keyframes changeColor {
    0% { color: black}
    50% { color: azure}
    100% { color: black}
}
.about {
    text-align: center;
}
.options {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.options a img {
    width: 80px;
}
.about {
    margin-top: 20px;
}
.about span {
    color: hsl(0 0% 100% / 0.2);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, rgb(233, 74, 222), rgb(0, 255, 183));
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
}
.about h1 span {
    animation-range-start: cover 20vh;
    animation-range-end: cover 30vh;
}
.about h2 span {
    animation-range-start: cover 22.5vh;
    animation-range-end: cover 80vh;
}
@keyframes scroll-reveal {
    to { background-size: 100% 100%; }
}
.about h2 {
    font-size: 50px;
}
